
@font-face {
    font-family: 'Geist';
    src: url('./Geist-Bold.woff2') format('woff2');
    font-weight: bold;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('./Geist-Medium.woff2') format('woff2');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('./Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('./Geist-SemiBold.woff2') format('woff2');
    font-weight: 600;
    /* SemiBold */
    font-style: normal;
}


